@use '../abstracts/' as *;

.special-deals {
    &__modal {
        border: none;
        padding: 0;
        background: transparent;
        margin: auto;
        &::backdrop {
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__content {
        background: white;
        padding: 20px;
        border-radius: 24px;
        position: relative;
        @include flex(column, center, center, 0.8rem);
        min-width: 360px;
    }

    &__header {
        color: $secondary-color;
        font-weight: $font-weight-600;
        @include flex($gap: 1rem);
    }

    &__icon {
        font-size: 1.6rem;
    }

    &__title {
        font-size: 1.2rem;
        letter-spacing: 10%;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: $font-weight-700;
    }

    &__description {
        color: $grey-color;
        font-size: 1.2rem;
        font-weight: $font-weight-400;
    }

    &__close-btn {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 2rem;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    &__wheel {
        width: 227px;
        height: 227px;
        margin-top: 1rem;
        position: relative;
        border-radius: 50%;
        border: 4px solid $background-color;
        overflow: hidden;

        background: conic-gradient($background-color 0deg 0deg,
                #ef476f 1deg 89deg,
                $background-color 89deg 90deg,
                #6c3ce9 91deg 179deg,
                $background-color 179deg 180deg,
                #fcbf29 181deg 269deg,
                $background-color 269deg 270deg,
                #19b5d8 271deg 359deg,
                $background-color 359deg 360deg);

        transition: transform 5s cubic-bezier(.17, .67, .25, 1);

        box-shadow: 0px 0px 50px 7px #00000040;

        &--loading {
            background: $light-background-color;
            border-radius: 50%;
            @include flex-center;
            position: relative;
        }

        &--hidden {
            display: none;
        }

    }

    &__loading-text {
        font-size: 1.2rem;
        font-weight: $font-weight-400;
    }

    &__view-deals-btn {
        border: 1px solid $light-background-color;
        font-weight: $font-weight-700;
        @include flex(row, center, center, 1rem);
        font-size: 1.4rem;
        width: 100%;
    }

    &__count {
        background-color: $primary-color;
        width: 1.8rem;
        height: 1.8rem;
        @include flex-center;
        color: $background-color;
        border-radius: 50%;
    }

    &__wrapper {
        width: 100%;
    }

    &__wheel-container {
        position: relative;
        @include flex(column, center, center);

        &--hidden {
            display: none;
        }
    }

    &__pointer {
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #ff4f6d;
        z-index: 1;

        &--loading {
            border-top: 15px solid $grey-dark-color;
        }
    }

    &__label {
        position: absolute;
        width: 70px;
        text-align: center;
        color: $background-color;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 20px;
    }

    &__label:nth-child(1) {
        top: 45px;
        left: 120px;
        transform: rotate(45deg);
    }

    &__label:nth-child(2) {
        top: 130px;
        left: 120px;
        transform: rotate(135deg);
    }

    &__label:nth-child(3) {
        bottom: 45px;
        left: 30px;
        color: #000;
        transform: rotate(225deg);
    }

    &__label:nth-child(4) {
        top: 45px;
        left: 28px;
        transform: rotate(-45deg);
    }

    &__spin-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 44px;
        height: 44px;
        border: 3px solid #F4436C;
        border-radius: 50%;
        background: $background-color;
        color: #ff4f6d;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        z-index: 10;
    }

    &__spin-btn:disabled {
        cursor: not-allowed;
    }

    &__result {
        @include flex(column, center, center, 1rem);
        margin: 1rem 0;
        width: 100%;
    }

    &__message {
        font-weight: $font-weight-700;
        font-size: 1.2rem;
    }

    &__card {
        border: 1px solid #F4436C33;
        border-radius: 16px;
        @include flex($justify: space-between);
        padding: 1.6rem;
        background: linear-gradient(90deg, rgba(244, 67, 108, 0.05) 0%, rgba(124, 58, 237, 0.05) 100%);
        width: 100%;

        &--expired {
            background-color: $light-background-color;
        }
    }

    &__card-right {
        @include flex($gap: 1rem);
        height: fit-content;
    }

    &__discount {
        font-weight: $font-weight-600;
        font-size: 1.4rem;
    }

    &__expiry {
        font-weight: $font-weight-400;
        font-size: 1.2rem;
        color: #7C3AED;

        &--expired {
            color: $grey-dark-color;
        }
    }

    &__coupon-code {
        font-weight: $font-weight-700;
        letter-spacing: 5%;
        font-size: 1.2rem;
        padding: 4px 10px 4px 10px;
        border-radius: 8px;
        border: 1px solid #E5E7EB;
        background-color: $background-color;
    }

    &__copy-button {
        color: $secondary-color;
        border: none;
        background: none;
        cursor: pointer;

        &--expired {
            color: $grey-dark-color;
        }
    }

    &__unlocked-cards {
        @include flex(column, center, center, 1rem);
        min-width: 312px;
    }

    &__hidden {
        display: none;
    }
}