@use '../abstracts/' as *;

.nav-container {
    @include flex(row, space-between, center, 0);
    padding: 37px 15px;

    &__logo {
        order: 1;
        @include flex;
        flex: 1;
    }

    &__logo-link {
        @include flex-center;
    }

    &__actions {
        display: none;
    }

    &__hamburger {
        @include flex($justify: flex-end);
        order: 2;
        flex: 1;
    }

    &__hamburger-btn {
        padding: 5px 8px;
        font-size: 2.7rem;
        border-radius: 10px;
        width: fit-content;
    }

    &__hamburger-btn:focus-visible {
        @include focus-visible($primary-color, 3px);
    }

    &__menu {
        position: fixed;
        right: -100%;
        top: 0;
        background-color: $primary-color;
        width: 55%;
        height: 100vh;
        transition: all 0.3s;
        @include flex($direction: column, $align: flex-end);
        gap: 100px;
        padding: 60px 40px 0 0;
    }

    &__links {
        @include flex(column, center, flex-end);
        @include list-style-none;
        gap: 70px;
    }

    &__link {
        @include link-style-none;
        color: $background-color;
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__link:hover {
        color: $background-color;
    }

    &__link--active {
        color: $text-500;
    }

    &__link:focus-visible {
        @include focus-visible($background-color);
    }

    &__close-btn {
        display: block;
        padding: 0;
        font-size: 2.7rem;
    }

    &__close-btn:focus-visible {
        @include focus-visible($background-color, 5px);
    }

    &__menu--open {
        right: 0;
    }


    &__logo>a:focus-visible {
        @include focus-visible($primary-color, 3px);
    }

    &__actions>button:focus-visible {
        @include focus-visible($primary-color, 3px);
    }
}


/* Tablet */
@media (min-width: map-get($breakpoints, sm)) {

    .nav-container {
        @include flex(row, space-around, center, 40px);
        padding: 32px 64px;

        &__actions {
            order: 3;
            @include flex;
            flex: 1;
        }

        &__logo {
            justify-content: center;
            order: 2;
            flex: 1;
        }

        &__hamburger {
            order: 1;
            justify-content: flex-start;
            flex: 1;
        }

    }
}


/* Desktop */
@media (min-width: map-get($breakpoints, lg)) {

    .nav-container {
        @include flex(row, space-between, center, 40px);
        padding: 72px 0;
        @include container;

        &__logo {
            order: initial;
            flex: initial;
        }

        &__hamburger {
            display: none;
        }

        &__actions {
            order: initial;
            flex: none;
        }

        &__menu {
            position: static;
            width: auto;
            height: auto;
            background: none;
            padding: 0;
        }

        &__links {
            flex-direction: row;
        }

        &__link {
            color: $text-500;
            font-size: 1.5rem;
        }

        &__link:focus-visible {
            @include focus-visible($primary-color);
        }

        &__link:hover {
            color: $text-700;
        }

        &__link--active {
            color: $text-700;
        }

        &__close-btn {
            display: none;
        }
    }
}