@use '../abstracts/' as *;

.nav-container {
    @include flex(row, space-around, center, 40px);
    padding: 72px 32px;

    .nav-container__logo>a:focus-visible {
        @include focus-visible($primary-color);
    }

    .nav-container__actions>button:focus-visible {
        @include focus-visible($primary-color, 3px);
    }

    .nav-container__hamburger {
        display: none;
    }

    .nav-container__links {
        @include list-style-none;
        display: flex;
        gap: 70px;

        .nav-container__link {
            @include link-style-none;
            color: $text-500;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .nav-container__link:hover {
            color: $text-700;
        }

        .nav-container__link--active {
            color: $text-700;
        }

        .nav-container__links li>a:focus-visible {
            @include focus-visible($primary-color);
        }
    }
}

@media (max-width: map-get($breakpoints, lg)) {
    .nav-container {
        padding: 32px 26px;
        gap: 0;

        .nav-container__logo {
            order: 2;
            @include flex-center;
            flex: 1;
        }

        .nav-container__hamburger {
            display: block;
            order: 1;
            flex: 1;
            position: relative;
            left: 40px;
        }

        .nav-container__hamburger-btn {
            padding: 5px 8px;
            font-size: 2.7rem;
            border-radius: 10px;
            width: fit-content;
        }

        .nav-container__actions {
            order: 3;
            @include flex-center;
            flex: 1;
        }

        .nav-container__links {
            right: -100%;
            position: fixed;
            top: 0;
            background-color: $primary-color;
            width: 55%;
            height: 100vh;
            flex-direction: column;
            @include flex-center;
            align-items: flex-end;
            transition: all 0.3s;
            padding-right: 40px;

            .nav-container__link {
                color: $background-color;
                font-size: 1.8rem;
            }

            .nav-container__link--active {
                color: $text-500;
            }
        }

        .nav-container__links--open {
            right: 0;
        }
    }
}

@media (max-width: map-get($breakpoints, sm)) {
    .nav-container {
        padding: 37px 15px;

        .nav-container__actions {
            display: none;
        }

        .nav-container__logo {
            order: 1;
            justify-content: flex-start;
        }

        .nav-container__hamburger {
            order: 2;
            display: flex;
            justify-content: flex-end;
            left: 0;
        }
    }
}