@use '../abstracts/' as *;

.hero {
    @include flex($direction: column-reverse);
    padding: 28px 15px;
    @include container;

    &__content {
        @include flex($direction: column, $gap: 20px);
        position: relative;
        top: -125px;
        padding: 40px 8px 0px 8px;
    }

    &__badge {
        @include shadow-2xl;
        color: $secondary-color;
        font-weight: 700;
        @include flex(row, center, center, 16px);
        font-size: 1.3rem;
    }

    &__badge:hover {
        color: $secondary-color;
    }

    &__badge-text {
        $color: $text-500;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 5px;
    }

    &__badge-icon {
        font-size: 2rem;
    }

    &__title {
        line-height: normal;
        font-size: 3.8rem;
        font-weight: 700;
        text-align: center;
    }

    &__title--highlight {
        color: $secondary-color;
    }

    &__description {
        font-size: 1.65rem;
        text-align: center;
        margin-top: 5px;
    }

    &__actions {
        @include flex($direction: column, $gap: 28px);
        width: 100%;
        margin-top: 13px;
    }

    &__action {
        width: 100%;
        padding: 24px 32px;
        font-size: 1.4rem;
        @include flex(row, center, center, 10px);
    }

    &__action--first {
        @include shadow-xl;
    }

    &__action--second {
        border: 1px solid $light-background-color;
    }

    &__play-icon {
        font-size: 2rem;
        color: $primary-color;
    }

    &__media {
        @include flex($direction: column, $align: center);
    }

    &__bg {
        width: 100%;
    }

    &__bg-img {
        width: 100%;
    }

    &__gallery {
        display: flex;
        width: 75%;
        gap: 16px;
        position: relative;
        top: -118px;
    }

    &__card {
        flex: 1;
        @include flex-center;
    }

    &__card--left {
        @include flex($direction: column, $gap: 16px);
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
    }

    &__icon {
        border-radius: 50%;
        position: absolute;
        @include shadow-sm;
        font-size: 1.5rem;
        width: 36px;
        height: 36px;
        @include flex-center;
        color: $background-color;
    }

    &__icon--telegram {
        background-color: $secondary-color;
        top: 40%;
        left: -16px;
    }

    &__icon--contact {
        background-color: $orange-color;
        bottom: 0;
        left: 65%;
    }

    &__tag {
        position: absolute;
        bottom: 27%;
        right: -14%;
        padding: 8px 16px;
        @include flex-center;
        gap: 4px;
        font-weight: 700;
        @include shadow-sm;
        border-radius: 50px;
        background-color: $background-color;
        font-size: 1rem;
    }

    &__text-break {
        display: inline;
    }

    &__arrows {
        display: none;
    }
}

.hero::before {
    content: "";
    position: absolute;

    top: -150px;
    left: -150px;

    width: 500px;
    height: 500px;

    background: radial-gradient(circle,
            rgba(255, 87, 34, 0.5),
            transparent 80%);

    filter: blur(150px);
    pointer-events: none;
}

// Tablet

@include media-up(sm) {
    .hero {
        padding: 64px 64px 0px 64px;
        position: relative;

        &__gallery {
            top: -218px;
        }

        &__icon {
            width: 64px;
            height: 64px;
            font-size: 2.5rem;
        }

        &__icon--telegram {
            left: -42px;
        }

        &__tag {
            right: -13%;
            bottom: 26%;
            font-size: 1.4rem;
            padding: 16px 32px;
            gap: 8px;
        }

        &__tag-icon {
            font-size: 2rem;
            color: $yellow-color;
        }

        &__content {
            top: -188px;
            gap: 25px;
        }

        &__title {
            font-size: 5.8rem;
            margin-top: 28px;
        }

        &__description {
            font-size: 2rem;
        }

        &__text-break {
            display: block;
        }

        &__actions {
            flex-direction: row;
            gap: 16px;
        }

        &__action {
            width: auto;
            padding: 16px 32px;
        }

        &__arrows {
            display: block;
            position: absolute;
            bottom: 9%;
            left: -3%;
        }

        &__arrows-img {
            width: 65px;
            height: auto;
        }
    }

    .hero::before {
        content: "";
        position: absolute;

        top: -500px;
        left: -500px;

        width: 1000px;
        height: 1000px;

        background: radial-gradient(circle,
                rgba(255, 87, 34, 0.5),
                transparent 80%);

        filter: blur(150px);
        pointer-events: none;
    }
}

// Desktop

@include media-up(xxl) {
    .hero {
        flex-direction: row;
        padding: 24px 0 0 0;

        &__content {
            flex: 6;
            align-items: start;
            margin-top: 100px;
            gap: 40px;
        }

        &__media {
            flex: 11;
        }

        &__title {
            text-align: left;
            font-size: 7rem;
        }

        &__description {
            text-align: left;
        }

        &__actions {
            justify-content: flex-start;
        }

        &__arrows {
            bottom: 8%;
            left: -7%;
        }
    }
}