@use '../abstracts/' as *;

.testimonials {
    @include flex(column, center, center, 3rem);
    padding: 9.4rem 0;

    &__headings {
        @include flex(column, center, center, 1.6rem);
    }

    @include media-up(sm) {
        padding: 1.2rem 0;
        background-image: url("/assets/images/testimonials/testimonial-bg.png");
        background-size: cover;
        background-position: center 48%;
        background-repeat: no-repeat;
    }

    @include media-up(lg) {
        padding: 9.7rem 0;
        background-position: center 34%;
    }
}

.testimonial {
    &__card {
        @include flex(column, center, center, 7.6rem);
        padding: 3rem 0;

        @include media-up(sm) {
            padding: 2.2rem 0;
            gap: 7.2rem;
        }

        @include media-up(lg) {
            padding: 2.7rem 0;
            gap: 7.8rem;
        }
    }

    &__image {
        width: 128px;
        height: 128px;
    }

    &__username {
        line-height: 120%;
        font-weight: $font-weight-700;

        &--primary {
            font-size: 2.8rem;
            color: $orange-color;
        }

        &--secondary {
            font-size: 2.3rem;
            color: $text-600;
        }
    }

    &__stars {
        @include flex(row, center, center, 1.8rem);
        color: $yellow-color;
        font-size: 2.5rem;
        margin-top: -3.8rem;

        @include media-up(sm) {
            margin-top: -3.4rem;
        }

        @include media-up(lg) {
            margin-top: -3.2rem;
            font-size: 2.6rem;
            gap: 1.8rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        text-align: center;
        color: $text-600;
        margin-top: -1rem;

        @include media-up(sm) {
            font-size: 2.3rem;
            max-width: 60%;
            margin-top: -1rem;

        }

        @include media-up(lg) {
            margin-top: -1rem;
            max-width: 54%;
        }
    }
}

.embla {
    width: 100%;
    position: relative;
    @include flex(column, center, stretch, 3.6rem);

    &__viewport {
        overflow: hidden;
    }

    &__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
    }

    &__slide {
        flex: 0 0 100%;
        min-width: 0;
    }

    &__arrow {
        width: 64px;
        height: 64px;
        @include flex-center;
        position: absolute;
        top: 12%;

        @include media-up(sm) {
            width: 100px;
            height: 100px;
            top: clamp(10%, 20vw, 30%);
        }

        @include media-up(lg) {
            top: 28%;
        }
    }

    &__prev {
        left: 4%;

        @include media-up(sm) {
            left: 6%;
        }

        @include media-up(lg) {
            left: 9%;
        }
    }

    &__next {
        right: 4%;

        @include media-up(sm) {
            right: 6%;
        }

        @include media-up(lg) {
            right: 9%;
        }
    }

    &__dots {
        @include flex(row, center, center, 2.4rem);
    }

    &__dot {
        cursor: pointer;
        border: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: $text-300;

        &--selected {
            background-color: $secondary-color;
        }

        &:focus-visible {
            @include focus-visible($primary-color, 2px);
        }
    }
}