@use '../abstracts/' as *;

.travel {
    @include container;
    padding: 3rem 0;
    @include flex($direction: column);
    position: relative;

    &__left {
        flex: 1;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__right {
        flex: 1;
        @include flex(column, center, center, 1rem);
    }

    &__content {
        padding: 2.3rem;
        @include flex(column, center, center, 1.4rem);
    }

    &__description {
        font-size: 1.6rem;
        line-height: 160%;
        text-align: center;
        margin-top: 1.6rem;
        color: $text-500;
    }

    &__cards {
        @include grid(1);
        width: 100%;
        max-width: 34.8rem;
        row-gap: 1.8rem;
    }

    &__card {
        border: 1px solid $text-400;
        border-radius: 32px;
        width: 100%;
        padding: 2.8rem 3.2rem;
        @include flex(column, center, center, 1rem);
    }

    &__card-count {
        color: $orange-color;
        font-size: 3.5rem;
        font-weight: $font-weight-700;
    }

    &__card-text {
        font-size: 1.8rem;
        color: $text-800;
    }

    &__ticket-icon {
        display: none;
    }

    @include media-up(sm) {
        padding: 6.4rem 0 1.5rem 0;
        gap: 3.5rem;

        &__img {
            width: 100vw;
            max-width: none;
            margin-left: calc(50% - 50vw);
        }

        &--right {
            gap: 4.1rem;
        }

        &__description {
            font-size: 1.8rem;
        }

        &__cards {
            @include grid(2);
            max-width: none;
            column-gap: 3rem;
            row-gap: 3.4rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: -250px;
            right: -350px;
            width: 500px;
            height: 500px;
            background: $yellow-color;
            opacity: 50%;
            filter: blur(250px);
            pointer-events: none;
            z-index: $z-index-m1;
        }
    }

    @include media-up(lg) {
        flex-direction: row;
        gap: 0;

        &__left {
            flex: 16.5;
        }

        &__right {
            flex: 10;
            justify-content: flex-start;
            gap: 6rem;
        }

        &__content {
            align-items: flex-start;
            padding: 1.3rem 0;
            gap: 2rem;
        }

        &__heading {
            text-align: left;
        }

        &__description {
            text-align: left;
        }

        &__img {
            width: calc(100% + (50vw - 625px));
            margin-left: calc(625px - 50vw);
        }

        &__cards {
            position: relative;
        }

        &__card {
            padding: 3.2rem;
        }

        &__ticket-icon {
            display: block;
            position: absolute;
            right: -70px;
            top: -48px;
        }

        &__ticket-icon-img {
            max-width: 120px;
            border-radius: 50%;
        }
    }

}