$primary-color:#5D50C6;
$secondary-color:#F85E9F;
$orange-color:#FF5722;
$background-color:#FFFFFF;
$text-900: #000000;
$text-800: #191825;
$text-700: #222831;
$text-600: #191825BF;
$text-500: #19182580;
$text-400: #1918251A;
