$primary-color:#5D50C6;
$secondary-color:#F85E9F;
$orange-color:#FF5722;
$yellow-color:#FACD49;
$background-color:#FFFFFF;
$light-background-color:#EEEEEE;
$grey-color:#9CA3AF;
$grey-dark-color:#AAAAAA;
$text-900: #000000;
$text-800: #191825;
$text-700: #222831;
$text-600: #191825BF;
$text-500: #19182580;
$text-400: #1918251A;
$text-300: #1918250D;
$font-primary: "Circular Std";
$font-secondary: "Inter";
$breakpoints: (
    sm: 431px,
    lg: 1025px,
    xxl: 1200px
);
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;
$z-index-m1: -1;
$z-index-0: 0;
$z-index-1: 1;
$z-index-10: 10;
$z-index-100: 100;
$z-index-1000: 1000;
$z-index-9999: 9999;
$font-base-url: "../../../assets/fonts";